<%- include('partials/head') %>

<h1>Survey</h1>
<p><%= key %></p>

<form>
    <label>
        First name:
        <input type="text" name="firstname"
            <% if(query.firstname) { %>
               value="<%= query.firstname%>"
            <% } %>
        />
    </label>
    <label>
        Last name:
        <input type="text" name="lastname"
            <% if(query.lastname) { %>
               value="<%= query.lastname%>"
            <% } %>
        />
    </label>
    <label>
        Gender
        Male
        <input type="radio" name="gender" value="male"
            <% if(query.gender == "male") { %>
                checked
            <% } %>
        >
        Female
        <input type="radio" name="gender" value="female"
            <% if(query.gender == "female") { %>
               checked
            <% } %>
        >
        Other
        <input type="radio" name="gender" value="other"
            <% if(query.gender == "female") { %>
               checked
            <% } %>>
    </label>
    <button type="submit">Save</button>
</form>

<%- include('partials/footer') %>